body {
  font-family: Helvetica, Arial, sans-serif;
  padding: 20px;
  background-color: #282c34;
  color: #fff;
}

input {
  background: none;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1.3em;
  width: 100%;
}

.Gifs__list {
  list-style: none;
  column-count: 4;
  column-gap: 0.5em;
  margin: 0;
  padding: 0;
}

.Gifs__list li img {
  width: 100%;
}
