body {
  font-family: Helvetica, Arial, sans-serif;
  padding: 20px;
  background-color: #282c34;
  color: #fff;
}

input {
  background: none;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1.3em;
  width: 100%;
  text-align: center;
}

.main__title {
  display: block;
  text-align: center;
}

.Gifs__list {
  list-style: none;
  column-count: 5;
  column-gap: 0.5em;
  margin: 0;
  padding: 0;
}

.Gifs__list li img {
  width: 100%;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation: fadeInUp 1s ease-in-out;
}

.category__subtitle {
  color: cyan;
}
